@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  background-color: var(--color-bg-2);
  color: var(--color-text-1);
}

blockquote.arco-typography {
  margin: 0 0 1em;
  padding-left: 8px;
  background-color: var(--color-bg-2);
  border-left: 2px solid var(--color-neutral-6);
}